.barra-avance--open .barra-avance__boton--regresar span 
  color: #ffffff !important

.bloque-texto-a.color-acento-contenido 
  background-color: #f3f9ff
  &--color2
    background-color: #1d9c7d
    &::before
      background-color: #f3f9ff


.cajon.color-acento-contenido
  background-color: #37a5934d

.bloque-texto-b i 
  font-size: 1.5em

.bloque-texto-b.color-secundario:before 
  background-color: #d2e1f1

.bloque-texto-b:before
  top: 76%
  bottom: 7%
  left: 23%
  right: 8%